<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">


<web-app>

	<servlet>
    		<servlet-name>dumpsterservice</servlet-name>
    		<description>@RETURN dumpster.asjson</description>
    		<servlet-class>org.context.app.http.DumpsterService</servlet-class>
	</servlet>
  	<servlet>
    		<servlet-name>userservice</servlet-name>
    		<description>@RETURN user.asjson</description>
    		<servlet-class>org.context.app.http.UserService</servlet-class>
		<load-on-startup>1</load-on-startup>
  	</servlet>

	<servlet-mapping>
    		<servlet-name>dumpsterservice</servlet-name>
    		<url-pattern>/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
    		<servlet-name>userservice</servlet-name>
    		<url-pattern>/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
    		<servlet-name>dumpsterservice</servlet-name>
    		<url-pattern>/dumpster/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
    		<servlet-name>userservice</servlet-name>
    		<url-pattern>/user/*</url-pattern>
	</servlet-mapping>

</web-app>    
